<!-- Modal for choosing log file -->
<div id="modal-log-file" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <h4>Choose log file:</h4>

        <select id="log-file-select" class="selectpicker">
        	
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="loadLogFile()">Load</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>